body {
    margin: 0;
    padding: 0;
    font-family: "Cuprum-Regular", Arial, sans-serif;
    font-size: 17px;
    line-height: 24px;
    font-weight: normal;
    background-color: #f4f7f9;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.main-navigation-top {
    display: flex;
    background-color: #293449;
    height: 42px;
    align-items: center;
}

.logotip {
    margin-left: 130px;
    background-color: #ee3643;
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
    width: 220px;
    height: 47px;
    letter-spacing: normal;
    align-items: center;
    justify-content: center;
}


/*  Как выровнить логотип по центру?  */

.search {
    margin-left: 17px;
}

.search label {
    color: white;
}

.search input {
    background-color: transparent;
    border: none;
}

.search input:hover {
    background-color: white;
}

.bookmark {
    margin-left: 97px;
}

.cart {
    background-color: #ee3643;
}

.order {
    background-color: #63a63e;
}

.main-navigation-middle {
    display: flex;
    align-items: center;
    color: #e9292a;
}

.main-navigation-middle p {
    margin-left: 183px;
    width: 196px;
    font-family: Cuprum;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: left;
}

.main-navigation-middle a {
    margin-left: 145px;
    font-size: 21px;
    line-height: 1;
    color: #e9292a;
}

.phone {
    width: 144px;
    height: 21px;
    font-family: Cuprum;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
}

.phone a {
    border: 3px solid white;
}

.addres {
    font-size: 14px;
    text-align: center;
    color: #32425c;
    width: 250px;
    font-family: Cuprum;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
}

button {
    font-size: 21px;
    color: #000000;
    background-color: white;
    border: none;
    height: 16px;
    font-family: Cuprum;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.login {
    width: 121px;
    height: 45px;
    padding-left: 14px;
}

.register {
    width: auto;
    height: 45px;
    margin-left: 10px;
    padding-left: 13px;
}

.container {
    width: 940px;
    margin-left: 130px;
    margin-right: auto;
}

.site-navigation {
    display: flex;
    background-color: #32425c;
    border-bottom: 5px solid #293449;
    align-items: center;
    font-family: Cuprum;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
}

.site-navigation li {
    list-style-type: none;
    padding-top: 22px;
    padding-bottom: 26px;
}

.list {
    padding-left: 52px;
}

li a:hover {
    background-color: #32425c;
}

.block {
    /* width: 100%;*/
    padding-left: 130px;
    padding-top: 179px;
    display: flex;
    background-color: #ffffff;
    margin-left: 20px;
}

.block li {
    list-style-type: none;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    text-align: left;
    color: #ffffff;
    width: 300px;
    height: 123px;
}

.block a {
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-align: center;
}

.material {
    background-color: #ffbf47;
}

.tool {
    background-color: #3bbce3;
}

.tech {
    background-color: #dc91d8;
}

.sale {
    background-color: #8ed78f;
}

.delivery {
    background-color: #ffc047;
}

.slider {
    background-color: white;
}

.slider li {
    list-style-type: none;
}

.slider h2 {
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
    color: white;
}

.slider p {
    font-size: 18px;
    line-height: 24px;
    color: white;
}

.slider a {
    font-size: 14px;
    line-height: 18px;
    color: white;
    background-color: #ee3643;
}

.popular-item {
    background-color: #ffffff;
}

.popular-item h2 {
    font-size: 30px;
    line-height: 30px;
    text-align: left;
    color: #32425c;
    background-color: #f9f5f0;
}

.catalog-list li {
    list-style-type: none;
}

.catalog-item a {
    display: inline;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #000000;
}

.catalog-item p {
    font-size: 17px;
    line-height: 18px;
    font-weight: bold;
    text-align: center;
}

.old-price {
    color: #a9a9a9;
}

.new-price {
    width: 141px;
    height: 38px;
    color: #f9f5f0;
    background-color: #ee3643;
}

.popular-firm {
    background-color: #ffffff;
}

.popular-firm h2 {
    font-size: 30px;
    line-height: 30px;
    text-align: left;
    color: #32425c;
    background-color: #f9f5f0;
}

.popular-firm li {
    list-style-type: none;
}

.service {
    background-color: #f4f7f9;
}

.service h2 {
    font-size: 30px;
    line-height: 30px;
    text-align: left;
    text-transform: uppercase;
    color: #000000;
}

.service p {
    font-family: PTSans;
    font-size: 13px;
    line-height: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.service li {
    list-style-type: none;
}

.service a {
    font-size: 21px;
    font-weight: bold;
    text-align: left;
    line-height: 30px;
    color: #f9f5f0;
    background-color: #32425c;
}

.service a:hover {
    color: #32425c;
    background-color: #f9f5f0;
}

.service-type li {
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: left;
    color: #32425c;
}

.service-type p {
    font-family: PTSans;
    font-size: 13px;
    line-height: 24px;
    text-align: left;
    text-transform: none;
    color: #32425c;
}

.service-type input {
    color: white;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    background-color: #ff5357;
}

.general {
    background-color: white;
}

.general h2 {
    font-size: 30px;
    line-height: 30px;
    text-align: left;
    color: #000000;
}

.general p {
    font-family: PTSans;
    font-size: 13px;
    line-height: 24px;
    text-align: left;
    color: #000000;
}

.aboutus li {
    list-style-type: none;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    text-align: left;
    color: #000000
}

.first-line li {
    display: inline;
}

.second-line li {
    display: inline;
}

.contact a {
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    color: white;
    background-color: #ee3643;
}

.aboutus a {
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    color: white;
    background-color: #ee3643;
}


/*  Стили каталога  */

.breadcrumbs li {
    list-style-type: none;
}

.breadcrumbs a {
    font-family: PTSans;
    font-size: 13px;
    line-height: 18px;
    text-align: left;
    text-transform: uppercase;
    color: #000000;
}

.breadcrumbs-current {
    font-family: PTSans;
    font-size: 13px;
    line-height: 18px;
    text-align: left;
    text-transform: uppercase;
    color: #000000;
}

h1 {
    font-size: 30px;
    line-height: 30px;
    text-align: left;
    color: #32425c;
    background-color: #f2f6f8;
}

aside {
    background-color: #ffffff;
}

aside h2 {
    font-family: PTSans;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: left;
    color: #000000;
    background-color: #f7f3ec;
}

.half-width {
    font-family: PTSans;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: normal;
    text-align: left;
    color: #000000
}

.half-width label {
    width: 220px;
    height: 38px;
    background-color: #f7f3ec;
}

.filter legend {
    font-family: PTSans;
    font-size: 17px;
    font-weight: bold;
    line-height: 30px;
    text-align: left;
    text-transform: uppercase;
    color: #000000;
}

.filter {
    font-family: PTSans;
    font-size: 15px;
    line-height: 20px;
    text-align: left;
    text-transform: uppercase;
    color: #000000;
}

.filter li {
    list-style-type: none;
}

.sorting li {
    list-style-type: none;
}

.sorting a {
    font-family: PTSans;
    font-size: 13px;
    line-height: 18px;
    text-align: left;
    text-transform: uppercase;
    color: #000000;
}

form button {
    font-family: PTSans;
    font-size: 13px;
    line-height: 18px;
    text-align: left;
    text-transform: uppercase;
    color: #000000;
}

.catalog {
    background-color: white;
}

.catalog-list {
    display: flex;
}

.buy a {
    width: 125px;
    height: 38px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #32425c;
    background-color: white;
    border: 3px solid #63a63e;
}

.buy a:hover {
    width: 135px;
    height: 38px;
    background-color: #367315;
    color: white;
    border: 3px solid #367315;
}

.page li {
    list-style-type: none;
}

.page a {
    font-family: PTSans;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #000000;
    border: 1px solid #e5e5e5;
}

.general {
    background-color: inherit;
}

.page a:hover {
    color: white;
    background-color: #ee3643;
}


/*
Стили футера
*/

.footer-nav .logo {
    width: 220px;
    height: 68px;
    background-color: #ee3643;
}

.footer-nav {
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    background-color: #32425c;
}

.footer-nav p {
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    color: #f1f5f7;
}

.footer-nav li {
    list-style-type: none;
}

.first-line a {
    color: #f1f5f7;
}

.second-line a {
    color: #ffd180;
}

.footer-contacts {
    font-size: 16px;
    line-height: 16px;
    text-align: left;
    background-color: #293449;
}

.footer-contacts p {
    color: #ffffff;
}

.footer-contacts li {
    list-style-type: none;
}

.footer-contacts a {
    color: #ffd180;
}